<ion-header >
  <ion-toolbar color="medium" >
      <div text-center>
          <img alt="CrickSpot Logo" src="assets/icon/logo.jpg" id=image>
      </div>
  </ion-toolbar>
</ion-header>

<!--Create team-->
<ion-content padding ng-controller="PopupCtrl">
  <br>

  <ion-list >
    
        <div text-center>
            <ion-button id=padding style="width:280px; height: 50px;" color="success" routerLink="/myteam" (click)="createYourOwnTeam()">
               Create Your Own Team
            </ion-button>
        </div>

        <div text-center>
            <ion-button id=padding style="width:280px; height: 50px;" color="success" (click)="joinAnotherTeam()">
               Join Into Another Team
            </ion-button>
        </div>
    <br>
        <div text-end>
            <ion-button id=back style="width:100px; height: 50px;" color="success" routerLink="/user-account" (click)="goBack()">
             Go Back
            </ion-button>
        </div> 
        
  </ion-list>
  

</ion-content>
