#text{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #264e2ffb;
}

#create{
    margin-top: 25px;
    
}

#image{
    width: 80px;
    height:70px;
    margin-bottom: 10px;
    margin-top: 12px;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 

  #head{
      color:rgb(10, 158, 35);
      text-align: center;
  }