<ion-header >
  <ion-toolbar color="medium" >
      <div text-center>
          <img alt="CrickSpot Logo" src="assets/icon/logo.jpg" id=image>
      </div>
  </ion-toolbar>
</ion-header>

<!--Main login screen -->
<ion-content padding ng-controller="PopupCtrl">
  <br>

<ion-list >
    
  <div text-center>
    <ion-button  id=padding style="width:280px; height: 50px;" color="success" routerLink="/create-team" (click)="createTeam()">
     Your Team
    </ion-button>
  </div>
  
  <div text-center>
    <ion-button id=padding style="width:280px; height: 50px;" color="success" (click)="viewPlayers()">
     View Players
    </ion-button>
  </div>

  <div text-center>
    <ion-button id=padding style="width:280px; height: 50px;" color="success" (click)="signOut()">
     Sign Out
    </ion-button>
  </div>
  
</ion-list>

</ion-content>


