<ion-header >
  <ion-toolbar color="medium" >
      <div text-center>
          <img alt="CrickSpot Logo" src="assets/icon/logo.jpg" id=image>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5><strong>G6 Developers</strong></h5>

  <p style="color:rgba(155, 155, 155, 0.945)">i every one how can i explain? what i need to explain? i dont know how to explain so now i going to copy and past some paragraph</p>
  <br>
  <h6><strong>Goals</strong></h6>
  <p style="color:rgba(155, 155, 155, 0.945)">Build and deploy apps that work across multiple platforms, such as native iOS, Android, desktop, and the web as a 
    Progressive Web App - all with one code base. Write once, run anywhere.
    Ionic Framework is built on top of reliable, standardized web technologies: HTML, CSS, and JavaScript, using modern
     Web APIs such as Custom Elements and Shadow DOM. Because of this, Ionic components have a stable API, and aren't at 
     the whim of a single platform vendor.</p>

  <h6><strong>Goals</strong></h6>
  <p style="color:rgba(155, 155, 155, 0.945)">Build and deploy apps that work across multiple platforms, such as native iOS, Android, desktop, and the web as a 
    Progressive Web App - all with one code base. Write once, run anywhere.
    Ionic Framework is built on top of reliable, standardized web technologies: HTML, CSS, and JavaScript, using modern
     Web APIs such as Custom Elements and Shadow DOM. Because of this, Ionic components have a stable API, and aren't at 
     the whim of a single platform vendor.</p>
  <div text-end>
    <ion-button id=back style="width:100px; height: 50px;"  color="success" (click)="goBack()">
     Go Back
    </ion-button>
  </div>
</ion-content>
